@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

body {
  font-family: 'DM Sans', sans-serif;
  background-color: #fcf9ed;
  color: #193722;
}

/* Title styles */
.title {
  display: inline-block;
  position: relative;
  font-size: 2.5rem;
  font-weight: bold;
  color: #193722;
  letter-spacing: 0.1em;
}

.letter {
  display: inline-block;
  transition: transform 0.3s ease, translate 0.3s ease;
}

/* Navigation item styles */
.nav-item {
  position: relative;
  display: inline-block;
  color: #193722;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease;
}

.nav-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid #193722;
  border-radius: 25px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.nav-item:hover::before {
  opacity: 1;
}

/* Header styles */
.header-blur {
  background-color: rgba(252, 249, 237, 0.8);
  backdrop-filter: blur(10px);
  position: relative;
}

/* Add this new class for the fade effect */
.header-fade {
  position: absolute;
  bottom: -20px; /* Adjust this value to control how far the fade extends below the header */
  left: 0;
  right: 0;
  height: 20px;
  background: linear-gradient(to bottom, rgba(252, 249, 237, 0.8), rgba(252, 249, 237, 0));
  pointer-events: none;
}

/* Mobile menu styles */
.mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  height: 100vh;
  padding: 2rem;
  background-color: #fcf9ed;
}

.mobile-menu .nav-item {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  color: #193722;
}

/* Tailwind custom classes */
.bg-fcf9ed {
  background-color: #fcf9ed;
}

.text-amber-500 {
  color: #f59e0b;
}

.space-x-6 > * + * {
  margin-left: 1.5rem;
}

/* Frosted glass effect */
.frosted-glass {
  background: rgba(245, 158, 11, 0.1);
  backdrop-filter: blur(12px);
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(25, 55, 34, 0.1), 0 1px 3px rgba(25, 55, 34, 0.08);
}

.recipe-card {
  background: rgba(252, 249, 237, 0.7);
  backdrop-filter: blur(8px);
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(25, 55, 34, 0.05);
  transition: all 0.3s ease;
}

.recipe-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(25, 55, 34, 0.1);
}

@media (max-width: 767px) {
  .mobile-no-shadow {
    box-shadow: none !important;
  }
}

@keyframes floatAndFade {
  0%, 100% {
    transform: translateY(0);
    opacity: 0.1;
  }
  50% {
    transform: translateY(-20px);
    opacity: 0.3;
  }
}

.circle-animation {
  animation: floatAndFade 10s infinite ease-in-out;
}